<h2> How to import a CSV file into a Oracle database using pythonÂ script?</h2>
<h4>Using iris data, we will learn how to import a CSV file into a Oracle database using python script.<h4>

<h2>Prerequisites</h2>

In [32]:
#Installing the cx_Oracle Python Package
# python -m pip install cx_Oracle --upgrade

<h4>Python 3.8.3, Oracle 11.2.0.2.0, cx_Oracle</h4>

<h3>To perform this task, we will need to:</h3><br>

<ol>
<b><li>Prepare or identify your data</li><br>
<li>Connect to Oracle and create a table</li><br>
<li>Import the CSV data into the Oracle database</li>

<h3>Step 1: Prepare or identify your data</h3><br>
To begin, prepare or identify the CSV file that you'd like to import to Oracle database we can read data from our disk and import, for example, we are reading data from Github account.

In [82]:
import pandas as pd
irisData = pd.read_csv('https://github.com/Muhd-Shahid/Write-Raw-File-into-Database-Server/raw/main/iris.csv',index_col=False)
irisData.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

Where, data is the comma delimiter. Each line of the CSV file is terminated by a newline character.

<h3>Step 2 : Connect to the Oracle and create a table</h3>

connect(): Now Establish a connection between Python program and Oracle database by using connect() function.

In [102]:
import cx_Oracle as orcCon
from cx_Oracle import DatabaseError
try:
    conn = orcCon.connect('shahid/Oracle@123@localhost/')
    if conn:
        print("cx_Oracle version:", orcCon.version)
        print("Database version:", conn.version)
        print("Client version:", orcCon.clientversion())
        
        # Now execute the sqlquery 
        cursor = conn.cursor()
        print("You're connected.................")
        
        # Drop table if exists
        print('Droping iris table if exists............')
        cursor.execute("BEGIN EXECUTE IMMEDIATE 'DROP TABLE iris'; EXCEPTION WHEN OTHERS THEN NULL; END;")
        
        print('Creating table iris............')
        cursor.execute("CREATE TABLE iris (sepal_length number(3,1) NOT NULL, sepal_width number(3,1) NOT NULL, petal_length number(3,1) NOT NULL, petal_width number(3,1),species varchar2(10) NOT NULL)")
        print("iris table is created..............")
except DatabaseError as e:
    err, = e.args
    print("Oracle-Error-Code:", err.code)
    print("Oracle-Error-Message:", err.message)

finally:
    cursor.close()
    conn.close()

cx_Oracle version: 8.0.1
Database version: 11.2.0.2.0
Client version: (11, 2, 0, 2, 0)
You're connected.................
Droping iris table if exists............
Creating table iris............
iris table is created..............

<h3>Step 3 : Import the CSV data into the Oracle database</h3>

let's query the database to make sure that our inserted data has been saved correctly.

In [93]:
import cx_Oracle as orcCon
from cx_Oracle import DatabaseError
try:
    #orcCon.connect('username/password@localhost')
    conn = orcCon.connect('shahid/Oracle@123@localhost/')
    if conn:
        print("cx_Oracle version:", orcCon.version)
        print("Database version:", conn.version)
        print("Client version:", orcCon.clientversion())
        cursor = conn.cursor()
        print("You're connected: ")
        print('Inserting data into table....')
        for i,row in irisData.iterrows():
            sql = "INSERT INTO iris(sepal_length,sepal_width,petal_length,petal_width,species) VALUES(:1,:2,:3,:4,:5)"
            cursor.execute(sql, tuple(row))
        # the connection is not autocommitted by default, so we must commit to save our changes
        conn.commit()
        print("Record inserted succesfully")
except DatabaseError as e:
    err, = e.args
    print("Oracle-Error-Code:", err.code)
    print("Oracle-Error-Message:", err.message)

finally:
    cursor.close()
    conn.close()

cx_Oracle version: 8.0.1
Database version: 11.2.0.2.0
Client version: (11, 2, 0, 2, 0)
You're connected:
Inserting data into table....
Record inserted succesfully

<h4>3.1. Query the database to check our work</h4>

In [107]:
conn = orcCon.connect('shahid/Oracle@123@localhost/')
cursor = conn.cursor()    
# Execute query
sql = "SELECT * FROM iris"
cursor.execute(sql)

# Fetch all the records
result = cursor.fetchall()
for i in result:
    print(i)
    
cursor.close()
conn.close()

(5.1, 3.5, 1.4, 0.2, 'setosa')
(4.9, 3.0, 1.4, 0.2, 'setosa')
(4.7, 3.2, 1.3, 0.2, 'setosa')
(4.6, 3.1, 1.5, 0.2, 'setosa')
(5.0, 3.6, 1.4, 0.2, 'setosa')
(5.4, 3.9, 1.7, 0.4, 'setosa')
(4.6, 3.4, 1.4, 0.3, 'setosa')
(5.0, 3.4, 1.5, 0.2, 'setosa')
(4.4, 2.9, 1.4, 0.2, 'setosa')
(4.9, 3.1, 1.5, 0.1, 'setosa')
(5.4, 3.7, 1.5, 0.2, 'setosa')
(4.8, 3.4, 1.6, 0.2, 'setosa')
(4.8, 3.0, 1.4, 0.1, 'setosa')
(4.3, 3.0, 1.1, 0.1, 'setosa')
(5.8, 4.0, 1.2, 0.2, 'setosa')
(5.7, 4.4, 1.5, 0.4, 'setosa')
(5.4, 3.9, 1.3, 0.4, 'setosa')
(5.1, 3.5, 1.4, 0.3, 'setosa')
(5.7, 3.8, 1.7, 0.3, 'setosa')
(5.1, 3.8, 1.5, 0.3, 'setosa')
(5.4, 3.4, 1.7, 0.2, 'setosa')
(5.1, 3.7, 1.5, 0.4, 'setosa')
(4.6, 3.6, 1.0, 0.2, 'setosa')
(5.1, 3.3, 1.7, 0.5, 'setosa')
(4.8, 3.4, 1.9, 0.2, 'setosa')
(5.0, 3.0, 1.6, 0.2, 'setosa')
(5.0, 3.4, 1.6, 0.4, 'setosa')
(5.2, 3.5, 1.5, 0.2, 'setosa')
(5.2, 3.4, 1.4, 0.2, 'setosa')
(4.7, 3.2, 1.6, 0.2, 'setosa')
(4.8, 3.1, 1.6, 0.2, 'setosa')
(5.4, 3.4, 1.5, 0.4, 'setosa')
(5.2, 4.1, 1.5, 0.1, 'setosa')
(5.5, 4.2, 1.4, 0.2, 'setosa')
(4.9, 3.1, 1.5, 0.2, 'setosa')
(5.0, 3.2, 1.2, 0.2, 'setosa')
(5.5, 3.5, 1.3, 0.2, 'setosa')
(4.9, 3.6, 1.4, 0.1, 'setosa')
(4.4, 3.0, 1.3, 0.2, 'setosa')
(5.1, 3.4, 1.5, 0.2, 'setosa')
(5.0, 3.5, 1.3, 0.3, 'setosa')
(4.5, 2.3, 1.3, 0.3, 'setosa')
(4.4, 3.2, 1.3, 0.2, 'setosa')
(5.0, 3.5, 1.6, 0.6, 'setosa')
(5.1, 3.8, 1.9, 0.4, 'setosa')
(4.8, 3.0, 1.4, 0.3, 'setosa')
(5.1, 3.8, 1.6, 0.2, 'setosa')
(4.6, 3.2, 1.4, 0.2, 'setosa')
(5.3, 3.7, 1.5, 0.2, 'setosa')
(5.0, 3.3, 1.4, 0.2, 'setosa')
(7.0, 3.2, 4.7, 1.4, 'versicolor')
(6.4, 3.2, 4.5, 1.5, 'versicolor')
(6.9, 3.1, 4.9, 1.5, 'versicolor')
(5.5, 2.3, 4.0, 1.3, 'versicolor')
(6.5, 2.8, 4.6, 1.5, 'versicolor')
(5.7, 2.8, 4.5, 1.3, 'versicolor')
(6.3, 3.3, 4.7, 1.6, 'versicolor')
(4.9, 2.4, 3.3, 1.0, 'versicolor')
(6.6, 2.9, 4.6, 1.3, 'versicolor')
(5.2, 2.7, 3.9, 1.4, 'versicolor')
(5.0, 2.0, 3.5, 1.0, 'versicolor')
(5.9, 3.0, 4.2, 1.5, 'versicolor')
(6.0, 2.2, 4.0, 1.0, 'versicolor')
(6.1, 2.9, 4.7, 1.4, 'versicolor')
(5.6, 2.9, 3.6, 1.3, 'versicolor')
(6.7, 3.1, 4.4, 1.4, 'versicolor')
(5.6, 3.0, 4.5, 1.5, 'versicolor')
(5.8, 2.7, 4.1, 1.0, 'versicolor')
(6.2, 2.2, 4.5, 1.5, 'versicolor')
(5.6, 2.5, 3.9, 1.1, 'versicolor')
(5.9, 3.2, 4.8, 1.8, 'versicolor')
(6.1, 2.8, 4.0, 1.3, 'versicolor')
(6.3, 2.5, 4.9, 1.5, 'versicolor')
(6.1, 2.8, 4.7, 1.2, 'versicolor')
(6.4, 2.9, 4.3, 1.3, 'versicolor')
(6.6, 3.0, 4.4, 1.4, 'versicolor')
(6.8, 2.8, 4.8, 1.4, 'versicolor')
(6.7, 3.0, 5.0, 1.7, 'versicolor')
(6.0, 2.9, 4.5, 1.5, 'versicolor')
(5.7, 2.6, 3.5, 1.0, 'versicolor')
(5.5, 2.4, 3.8, 1.1, 'versicolor')
(5.5, 2.4, 3.7, 1.0, 'versicolor')
(5.8, 2.7, 3.9, 1.2, 'versicolor')
(6.0, 2.7, 5.1, 1.6, 'versicolor')
(5.4, 3.0, 4.5, 1.5, 'versicolor')
(6.0, 3.4, 4.5, 1.6, 'versicolor')
(6.7, 3.1, 4.7, 1.5, 'versicolor')
(6.3, 2.3, 4.4, 1.3, 'versicolor')
(5.6, 3.0, 4.1, 1.3, 'versicolor')
(5.5, 2.5, 4.0, 1.3, 'versicolor')
(5.5, 2.6, 4.4, 1.2, 'versicolor')
(6.1, 3.0, 4.6, 1.4, 'versicolor')
(5.8, 2.6, 4.0, 1.2, 'versicolor')
(5.0, 2.3, 3.3, 1.0, 'versicolor')
(5.6, 2.7, 4.2, 1.3, 'versicolor')
(5.7, 3.0, 4.2, 1.2, 'versicolor')
(5.7, 2.9, 4.2, 1.3, 'versicolor')
(6.2, 2.9, 4.3, 1.3, 'versicolor')
(5.1, 2.5, 3.0, 1.1, 'versicolor')
(5.7, 2.8, 4.1, 1.3, 'versicolor')
(6.3, 3.3, 6.0, 2.5, 'virginica')
(5.8, 2.7, 5.1, 1.9, 'virginica')
(7.1, 3.0, 5.9, 2.1, 'virginica')
(6.3, 2.9, 5.6, 1.8, 'virginica')
(6.5, 3.0, 5.8, 2.2, 'virginica')
(7.6, 3.0, 6.6, 2.1, 'virginica')
(4.9, 2.5, 4.5, 1.7, 'virginica')
(7.3, 2.9, 6.3, 1.8, 'virginica')
(6.7, 2.5, 5.8, 1.8, 'virginica')
(7.2, 3.6, 6.1, 2.5, 'virginica')
(6.5, 3.2, 5.1, 2.0, 'virginica')
(6.4, 2.7, 5.3, 1.9, 'virginica')
(6.8, 3.0, 5.5, 2.1, 'virginica')
(5.7, 2.5, 5.0, 2.0, 'virginica')
(5.8, 2.8, 5.1, 2.4, 'virginica')
(6.4, 3.2, 5.3, 2.3, 'virginica')
(6.5, 3.0, 5.5, 1.8, 'virginica')
(7.7, 3.8, 6.7, 2.2, 'virginica')
(7.7, 2.6, 6.9, 2.3, 'virginica')
(6.0, 2.2, 5.0, 1.5, 'virginica')
(6.9, 3.2, 5.7, 2.3, 'virginica')
(5.6, 2.8, 4.9, 2.0, 'virginica')
(7.7, 2.8, 6.7, 2.0, 'virginica')
(6.3, 2.7, 4.9, 1.8, 'virginica')
(6.7, 3.3, 5.7, 2.1, 'virginica')
(7.2, 3.2, 6.0, 1.8, 'virginica')
(6.2, 2.8, 4.8, 1.8, 'virginica')
(6.1, 3.0, 4.9, 1.8, 'virginica')
(6.4, 2.8, 5.6, 2.1, 'virginica')
(7.2, 3.0, 5.8, 1.6, 'virginica')
(7.4, 2.8, 6.1, 1.9, 'virginica')
(7.9, 3.8, 6.4, 2.0, 'virginica')
(6.4, 2.8, 5.6, 2.2, 'virginica')
(6.3, 2.8, 5.1, 1.5, 'virginica')
(6.1, 2.6, 5.6, 1.4, 'virginica')
(7.7, 3.0, 6.1, 2.3, 'virginica')
(6.3, 3.4, 5.6, 2.4, 'virginica')
(6.4, 3.1, 5.5, 1.8, 'virginica')
(6.0, 3.0, 4.8, 1.8, 'virginica')
(6.9, 3.1, 5.4, 2.1, 'virginica')
(6.7, 3.1, 5.6, 2.4, 'virginica')
(6.9, 3.1, 5.1, 2.3, 'virginica')
(5.8, 2.7, 5.1, 1.9, 'virginica')
(6.8, 3.2, 5.9, 2.3, 'virginica')
(6.7, 3.3, 5.7, 2.5, 'virginica')
(6.7, 3.0, 5.2, 2.3, 'virginica')
(6.3, 2.5, 5.0, 1.9, 'virginica')
(6.5, 3.0, 5.2, 2.0, 'virginica')
(6.2, 3.4, 5.4, 2.3, 'virginica')
(5.9, 3.0, 5.1, 1.8, 'virginica')

3.2 : Inserting Pandas DataFrames into a Database Using the to_sql() Function

In [105]:
# import the module
from sqlalchemy import create_engine

# create sqlalchemy engine
engine = engine = create_engine('oracle://shahid:Oracle@123@localhost')

In [106]:
# Insert whole DataFrame into Oracle DB
irisData.to_sql('iris', con = engine, if_exists = 'append', chunksize = 1000,index=False)
print("Record inserted successfully")

<h5>What's happening here?</h5><br>
<ul>
    <li>book_details is the name of table into which we want to insert our DataFrame.</li><br>
    <li>con = engine provides the connection details (recall that we created engine using our authentication details in the previous step).</li><br>
    <li>if_exists = 'append'checks whether the table we specified already exists or not, and then appends the new data (if it does exist) or creates a new table (if it doesn't).</li><br>
    <li>chunksize writes records in batches of a given size at a time. By default, all rows will be written at once.</li>
</ul><br>

<h3>3.2.1Â : Query the database to check our work</h3>

In [114]:
from sqlalchemy import create_engine
import pandas as pd 
engine = create_engine('oracle://shahid:Oracle@123@localhost')
conn = engine.connect()
data = conn.execute("SELECT * FROM iris")
irisdf = pd.DataFrame(data.fetchall())
irisdf.columns = data.keys()
print(irisdf.head())
conn.close()

  sepal_length sepal_width petal_length petal_width species
0          5.1         3.5          1.4         0.2  setosa
1          4.9           3          1.4         0.2  setosa
2          4.7         3.2          1.3         0.2  setosa
3          4.6         3.1          1.5         0.2  setosa
4            5         3.6          1.4         0.2  setosa

<h2>Conclusion</h2>

In this tutorial, We have discussed how to import Pandas DataFrames into Oracle databases using two different methods, including the highly efficient to_sql() method.